* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.toggleMenu {
    position: fixed;
    padding: 15px 20px 15px 15px;
    margin-top: 100px;
    color: #f6f6f6;
    cursor: pointer;
    background-color: rgba(49, 49, 49, 0.5);
    z-index: 10000000;
    opacity: 0;
}

.sideMenu {
    position: fixed;
    width: 250px;
    margin-left: 0px;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    background-color: rgba(17, 17, 17, 0.9);
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.fa-times{
    right: 10px;
    top: 10px;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    color: #f6f6f6;
    transition: all 0.3s ease-in-out;
    display: block;
}

.fa-times:hover {
    opacity: 1;
}

.box {
    font-family: 'Open Sans';
    font-weight: 200;
    padding: 10px 20px;
    display: inline-block;
    border: solid 2px #f6f6f6;
    box-sizing: border-box;
    font-size: 22px;
    color: #f6f6f6;
    text-align: center;
    margin-top: 100px;
}

#name,
#btn {
    text-align: center;
}

.logo {
    font-weight: bold;
}

.logoTitle {
    color: #f6f6f6;
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
}

.navSelect {
    margin: 20px 0;
    display: block;
    width: 200px;
    margin-left: 25px;
}

.navItem {
    font-weight: 200;
    font-family: 'Open Sans';
    color: #f6f6f6;
    padding: 12px 0;
    box-sizing: border-box;
    font-size: 14px;
    color: #d8d8d8;
    border-bottom: solid 1px #d8d8d8;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.boxSmall {
    font-size: 12px;
    color: #d8d8d8;
    width: 200px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-width: 1px;
    margin: 0 0 20px 10%;
}

.boxSmall:hover {
    background-color: #f6f6f6;
    color: #313131;
    transition: all 0.3s ease-in-out;
}

/***** HEADER *****/

header {
    margin-left: 250px;
}














