* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    
}

.toggleMenu {
    position: fixed;
    padding: 15px 20px 15px 15px;
    margin-top: 100px;
    color: #f6f6f6;
    cursor: pointer;
    background-color: rgba(49, 49, 49, 0.5);
    z-index: 10000000;
    opacity: 0;
}

.sideMenu {
    position: fixed;
    top: 0;
    width: 250px;
    margin-left: 0px;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    background-color: rgba(16, 16, 16, 0.6);
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.fa-times{
    right: 10px;
    top: 10px;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    color: #f6f6f6;
    transition: all 0.3s ease-in-out;
    display: block;
    visibility: hidden;
}

.fa-times:hover {
    opacity: 1;
}

.logoWhite {
    text-align: center;
    margin-top: 20%;
}

.logoWhite img {
    height: 70%;
    width: 70%;
}

.box {
    font-family: 'Open Sans';
    font-weight: 200;
    padding: 10px 20px;
    display: inline-block;
    border: solid 2px #f6f6f6;
    box-sizing: border-box;
    font-size: 22px;
    color: #f6f6f6;
    text-align: center;
    margin-top: 100px;
}

#name,
#btn {
    text-align: center;
}

.logo {
    font-weight: bold;
}

.logoTitle {
    color: #f6f6f6;
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
}

.navSelect {
    margin: 20px 0;
    display: block;
    width: 200px;
    margin-left: 25px;
}

.navItem {
    font-weight: 200;
    font-family: 'Open Sans';
    color: #f6f6f6;
    text-align: right;
    padding: 12px 0;
    box-sizing: border-box;
    font-size: 14px;
    color: #d8d8d8;
    border-bottom: solid 1px #d8d8d8;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.navItem:hover {
    -webkit-transform: translateX(8px);
    transform: translateX(8px;)
}

.boxSmall {
    font-size: 12px;
    color: #d8d8d8;
    width: 200px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-width: 1px;
    margin: 0 0 20px 0;
}

.boxSmall:hover {
    background-color: #f6f6f6;
    color: #313131;
    transition: all 0.3s ease-in-out;
}

.hideMenu {
    margin-left: -250px;
}

.opacityOne {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}




/***** HEADER *****/

header {
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/landingBG.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.heroTextBox {
    position: absolute;
    width: 1140px;
    top: 30%;
    left: 20%;
}

.heroTextBox h1 {
    font-family: 'Lato';
    font-weight: 100;
    font-size: 2.25em;
    color: #f6f6f6;
    text-transform: uppercase;
}












